# 1. Crie a venv (usando .venv como no gitignore)
python3 -m venv .venv

# 2. Ative-a (ex: macOS/Linux)
source .venv/bin/activate

# 3. Instale as bibliotecas (agora você está DENTRO da venv)
pip install pandas matplotlib

# 4. CONGELE (freeze) as versões no requirements.txt
pip freeze > requirements.txt